# Node
node_modules/

# Backend build
backend/dist/

# Next.js
frontend/.next/
frontend/out/

# Env
.env

# Logs
*.log

# Mac
.DS_Store

# Vercel
.vercel/

# Python
__pycache__/
*.pyc

# Misc
dist/
build/
